<div class="container" ng-controller="beverageCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Order Beverage</h4>
            <form ng-submit="submitOrder()">
                <div class="form-group">
                    <label for="username">Enter your Name</label>
                    <input type="text" id="username" class="form-control" ng-model="orderForm.username" required>
                </div>
                <div class="form-group">
                    <label for="beveragesList">Select Item from the list</label>
                    <select id="beverageList" class="form-control" ng-model="orderForm.selectedBeverage"
                        ng-options="beverage.Name for beverage in beverageData track by beverage.Name">
                        <option value="">Please Select</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" id="orderSubmit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
